<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sorting Algorithm Comparison</title>
    <link href="css/main.css" rel="stylesheet">
</head>
<body style="background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);">
<div style="justify-content:center;margin-left:30%;margin-top:20%">
<h1>Select an Algorithm to Sort the randomly generated Arrays</h1>
<h3>Arrays will be randomly generated in different sizes : 10,100,1000 ,10000 and 25000</h3>
<form id="form1" name="form1" action="/" method="POST">
    <select id="select"  style="margin-left:20%;font-size:20px;" name="select">
        <option value="MergeSort" name="MergeSort">Merge Sort</option>
        <option value="QuickSort" name="QuickSort">Quick Sort</option>
        <option value="3pointQuickSort" name="3pointQuickSort">Quick 3 Sort</option>
        <option value="HeapSort" name="HeapSort">Heap Sort</option>
        <option value="SelectionSort" name="SelectionSort">Selection Sort</option>
        <option value="InsertionSort" name="InsertionSort">Insertion Sort</option>
        <option value="BubbleSort" name="BubbleSort">Bubble Sort</option>
    </select>
    <button type="submit" id="input" style="font-size:20px;">submit</button>
</form>
</div>
</body>
</html>
